# Visual Studio 2015/2017 cache/options directory
.idea/
.vs/
x64/Debug/PT_Project_BodyPainting.exe
x64/Debug/PT_Project_BodyPainting.ilk
x64/Debug/PT_Project_BodyPainting.pdb
PT_Project_BodyPainting/Debug/
PT_Project_BodyPainting/x64
x64/Release/PT_Project_BodyPainting.exe
x64/Release/PT_Project_BodyPainting.ilk
x64/Release/PT_Project_BodyPainting.pdb
x64/Release/PT_Project_BodyPainting.iobj
x64/Release/PT_Project_BodyPainting.ipdb